<div class="maincontent bg--white pt--80 pb--55">
  <div class="container user-info-page">
    <div class="row">

      <div class="col-lg-12 col-12">

        <div class="wn__single__product">
          <div class="row">
            <div class="col-lg-3 col-12">
              <div class="user-image">
                <img src="{{user.avatar}}" alt="user-avatar">
              </div>
            </div>

            {{!-- 中獎訊息畫面 --}}
            <div class="col-lg-9 col-12">
              <div class="user-info" data-userid="{{user.id}}">
                <h3>{{user.username}}</h3>
                <div class="user-info-item">
                  <div class="title">剩餘點數</div>
                  <div id="userPoints" class="user-info-data">{{reward.point}} 點</div>
                </div>
                <div class="user-info-item">
                  <div class="title">轉扭蛋結果：</div>
                  <div id="prizeMessage" class="user-info-data"></div>
                </div>
                <div class="user-info-item">
                  <div class="title">中獎課程：</div>
                  <div id="courseNamePicked" class="user-info-data"></div>
                </div>
                <div class="user-info-item">
                  <div class="title">課程價錢： $</div>
                  <div id="courseNamePicked" class="user-info-data"></div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<link href="http://v.bootstrapmb.com/2019/3/pih1j3820/css/style.css" type="text/css" rel="stylesheet">
<script src="http://v.bootstrapmb.com/2019/3/pih1j3820/js/jquery1.8.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>

{{!-- 扭蛋機 --}}
<div class="niu_danji">
  <!--机器-->
  <div class="game_qu">
    <!--go-->
    <div class="game_go">100/次</div>
    <div class="wdjifen">10000</div>
  </div>

  <!--球-->
  <div class="dan_gund">
    <span class="qiu_1 diaol_1"></span>
    <span class="qiu_2 diaol_2"> </span>
    <span class="qiu_3 diaol_3"></span>
    <span class="qiu_4 diaol_4"></span>
    <span class="qiu_5 diaol_5"></span>
    <span class="qiu_6 diaol_6"></span>>
    <span class="qiu_7 diaol_7"></span>
    <span class="qiu_8 diaol_8"></span>
    <span class="qiu_9 diaol_9"></span>
    <span class="qiu_10 diaol_10"></span>
    <span class="qiu_11 diaol_11"></span>
  </div>

  <!--中奖掉落-->
  <div class="medon"><img src="http://v.bootstrapmb.com/2019/3/pih1j3820/images/mendong.png"></div>
  <!-- 中獎掉落區 -->
  <div class="zjdl ">
    <span></span>
  </div>

</div>


<!--中奖 获得一等奖-->
<div class="zonj_zezc none" id="jianpin_one">
  <div class="jpzs aiqiyi tc_anima">
    <em><img src="http://v.bootstrapmb.com/2019/3/pih1j3820/images/close.png"></em>
    <h2>
      <b>恭喜你！<br>获得一等奖！</b>
    </h2>
  </div>
</div>

<!--中奖获得二等奖-->
<div class="zonj_zezc none" id="jianpin_two">
  <div class="jpzs aiqiyi tc_anima">
    <em><img src="http://v.bootstrapmb.com/2019/3/pih1j3820/images/close.png"></em>
    <h2>
      <b>恭喜你！<br>获得二等奖！</b>
    </h2>
  </div>
</div>

<!--中奖 获得三等奖-->
<div class="zonj_zezc none" id="jianpin_three">
  <div class="jpzs aiqiyi tc_anima">
    <em><img src="http://v.bootstrapmb.com/2019/3/pih1j3820/images/close.png"></em>
    <h2>
      <b>恭喜你！<br>获得三等奖！</b>
    </h2>
  </div>
</div>

<!--没有中奖-->
<div class="zonj_zezc none" id="jianpin_kong">
  <div class="jpzs aiqiyi tc_anima">
    <em><img src="http://v.bootstrapmb.com/2019/3/pih1j3820/images/close.png"></em>
    <h2>
      咦？没有抽中？
    </h2>
  </div>
</div>

<!--积分不足-->
<div class="zonj_zezc none" id="no_jifeng">
  <div class="jpzs aiqiyi tc_anima">
    <em><img src="http://v.bootstrapmb.com/2019/3/pih1j3820/images/close.png"></em>
    <h2>
      对不起，积分不足！
    </h2>
  </div>
</div>



<script>
  $(document).ready(function (e) {
    //一等奖 关闭
    $("#jianpin_one em img").click(function () {
      $("#jianpin_one").hide();
    }
    );
    //二等奖 关闭
    $("#jianpin_two em img").click(function () {
      $("#jianpin_two").hide();
    }
    );
    //三等奖 关闭
    $("#jianpin_three em img").click(function () {
      $("#jianpin_three").hide();
    }
    );
    //没有中奖 关闭
    $("#jianpin_kong em img").click(function () {
      $("#jianpin_kong").hide();
    }
    );
    //积分不足 关闭
    $("#no_jifeng em img").click(function () {
      $("#no_jifeng").hide();
    }
    );

    // 初始分數
    var score = parseInt($('#userPoints').text());
    $(".wdjifen").html(score);

    //運算思維：
    //新增 reward model：point、UserId、
    //新增登入記錄統計 model：time(轉換成日期，不用時間)、UserId
    //每次登入，userController.js之sign寫入登入記錄、rewardController.js之postPoint寫入使用者點數 + 5
    //使用者個人頁面新增玩扭蛋按鈕、點數統計：view, controller
    //新增 rewardController.js
    //按下啟動鍵，執行 rewardController.js
    //->基本設定：中獎機率50%(數字1~5)、玩一次轉蛋所需點數 5*20(登入20天即有100點)
    //->後台,撈使用者的點數，判斷是否可以參加轉扭蛋
    //->若可以轉扭蛋，則撈使用者的收藏清單，存進 course array 中，當抽中時，則亂數選一門課給使用者
    //->若使用者沒有收藏清單，則從使用者常購買課程的主要類別中撈出相關課程。當抽中時，則亂數選一門課給使用者
    //->若使用沒有收藏清單也沒購課，當抽中時，則從所有課程中亂數選一門課給使用者
    //當挑了課程贈送給使用者後，同時在 orderController.js之orderCourse新增一筆 UserEnrollment

    // 取得 li 的 input 之 data-pk 值
    let userId = $(`.user-info`).data("userid");

    //取得使用者的points

    let userPoints = parseInt($('#userPoints').text())

    console.log('user id:', userId)

    // 啟動轉蛋
    $(".game_go").click(function (event) {
      console.log(event)
      score -= 2;
      if (userPoints < 2) {
        for (i = 1; i <= 11; i++) {
          $(".qiu_" + i).removeClass("wieyi_" + i);
        }
        // 顯示積分不足看板
        $("#no_jifeng").show();
      } else {
        userPoints -= 2
        $('#userPoints').text(`${userPoints}`)
        draw()
      }
    });


    function draw() {
      var number = Math.floor(4 * Math.random() + 1);

      for (i = 1; i <= 11; i++) {
        // 移除靜態球樣式
        $(".qiu_" + i).removeClass("diaol_" + i);

        // 球開始移動
        $(".qiu_" + i).addClass("wieyi_" + i);
      };

      // 設定球移動時間 1100ms
      setTimeout(function () {
        for (i = 1; i <= 11; i++) {
          $(".qiu_" + i).removeClass("wieyi_" + i);
        }

        //發送請求
        axios.post(`/reward/${userId}/lottery`)
          .then(function (response) {
            $('#prizeMessage').text(response.data.message)
            $('#courseNamePicked').text(response.data.course)
            $('#coursePricePicked').text(response.data.price)
            console.log(response);

          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .finally(function () {
            // always executed
          });

      }, 1100);

      // 依據亂數 number 來顯示呈現的看板
      setTimeout(function () {
        switch (number) {
          case 1: $(".zjdl").children("span").addClass("diaL_one"); break;
          case 2: $(".zjdl").children("span").addClass("diaL_two"); break;
          case 3: $(".zjdl").children("span").addClass("diaL_three"); break;
          case 4: $(".zjdl").children("span").addClass("diaL_four"); break;
        }
        $(".zjdl").removeClass("none").addClass("dila_Y");
        setTimeout(function () {
          switch (number) {
            case 1: $("#jianpin_one").show(); break;
            case 2: $("#jianpin_two").show(); break;
            case 3: $("#jianpin_three").show(); break;
            case 4: $("#jianpin_kong").show(); break;
          }
        }, 900);
      }, 1100)

      //取消动画
      setTimeout(function () {
        $(".zjdl").addClass("none").removeClass("dila_Y");
        $(".wdjifen").html(score);
        $(".zjdl").children("span").removeAttr('class');

      }, 2500)



    }
  });

</script>