<div class="page-blog-details section-padding--lg bg--white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="course-tabs">
          <a href="/courses/{{courseId}}/introduction" class="no-on-page">課程介紹</a>
          <a href="/courses/{{courseId}}/lessons" class="on-page">課程內容</a>
          <a href="/courses/{{courseId}}/post" class="no-on-page">問題討論</a>
        </div>
        <div class="blog-details content">
          <div class="comment_respond">
            <h3 class="reply_title">Add New Question</h3>
            <form class="comment__form" action="#">

              <div class="input__wrapper clearfix">
                <div class="input__box name one--third">
                  <input type="text" placeholder="Title">
                </div>
              </div>

              <div class="input__box">
                <textarea name="comment" placeholder="Your question here"></textarea>
              </div>

              <div class="submite__btn">
                <a href="#">Post</a>
                <div class="clear-fix"></div>
              </div>
            </form>
          </div>
          <div class="comments_area">
            <h3 class="comment__title">Question (1) </h3>
            {{!-- 提問問題 Start --}}

            {{!-- 問題內容 Start --}}
            <ul class="comment__list">
              <li class="post_question">
                <div class="wn__comment">
                  <div class="thumb">
                    <img src="https://fakeimg.pl/500x500/" alt="comment images">
                  </div>
                  <div class="content">
                    <div class="comnt__author d-block d-sm-flex">
                      <span class="post-title">請問關於XXX該怎麼操作？</span>
                    </div>
                    <p>請問關於XXX該怎麼操作？我是用XXX方法，得到的結果是XXXX？？？</p>

                  </div>
              </li>
              {{!-- 問題內容 End --}}

              {{!-- 該問題的Reply Start --}}
              <li class="comment_reply">
                <div class="wn__comment">
                  <div class="thumb">
                    <img src="https://fakeimg.pl/500x500/" alt="comment images">
                  </div>
                  <div class="content">
                    <p>應該是因為XXX，所以才會XXX，可以試試XXX Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel,
                      beatae impedit culpa quisquam adipisci porro ipsum. Error mollitia tempore cupiditate nulla
                      voluptates, sunt illum, sint culpa, exercitationem modi quo.</p>
                  </div>
                </div>
              </li>
              {{!-- 該問題的Reply End --}}

              {{!-- 留言給該問題 Start --}}
              <li class="comment_reply">
                <div class="wn__comment">
                  <div class="thumb">
                    <img src="https://fakeimg.pl/500x500/" alt="comment images">
                  </div>
                  <form action="/">

                    <textarea name="comment" placeholder="Your reply here"></textarea>
                    <button type="submit">Reply</button>

                  </form>
                </div>
              </li>
              {{!-- 留言給該問題 End --}}

            </ul>
            {{!-- 提問問題 End --}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>