<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto" style="height: 900px;">
      <h2 class="my-3">建立課程教學</h2>

      <a href="/courses/create/{{course.id}}/step1" class="my-3">
        <button type="submit" class="btn-two green my-3">課程申請</button>
      </a>

      <div class="createCourseAd">
        <h2 class="my-3">Why You Should Create an Online Course</h2>
        <div id="ytplayer_frame">
          <iframe id="ytplayer" type="text/html" width="100%" src="https://www.youtube.com/embed/Eo_CmmDFAxc"
            frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>