<h2 class="my-3">教學影片</h2>

<a href="/courses/create/{{course.id}}/step1" class="my-3">
  <button type="submit" class="btn my-3 btn-primary">課程申請</button>
</a>

<iframe src="https://youtu.be/DSGyEsJ17cI" scrolling="no" frameborder="0" width="100%" height="430"
  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
</iframe>

<h2>課程建立流程(文字說明)</h2>
<ol>
  <li>1.xxx</li>
  <li>2.xxxx</li>
  <li>3.xxx</li>
</ol>

<h3>課程建立流程圖</h3>
<img src="" alt="">