<div class="row">
  <div class="col col-md-8 mx-auto">
    <h2 class="my-3">教學影片</h2>

    <a href="/courses/create/{{course.id}}/step1" class="my-3">
      <button type="submit" class="btn my-3 btn-primary">課程申請</button>
    </a>
    <div class="video-intro mx-auto mb-4">
      <iframe src="https://player.vimeo.com/video/286898202" width="480" height="360" frameborder="0" title="My
        video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h2 class="mb-5">課程建立流程(文字說明)</h2>
    <ol>
      <li>1.xxx</li>
      <li>2.xxxx</li>
      <li>3.xxx</li>
    </ol>

    <h3 class="my-5">課程建立流程圖</h3>
    <img src="" alt="">
  </div>
</div>